body {
    font-family: Arial, sans-serif;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9d0c1;
}

html
{
    width: 400px;  /* max: 800px */
    height: 400px; /* max: 600px */
}

form {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 0px;
}

label, input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
}
input[type="text"], input[type="email"] {
    display: block;
    padding: 10px;
    font-size: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-top: 2px;
    line-height: 1.2;
    width: 100%;
}


#body{
    box-sizing: border-box;
    height: 150px
}

#submit {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;

}
#submit:hover {
    background-color: #45a049;
}

#draft {
    padding: 10px;
    background-color: #cb881d;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}
#draft:hover {
    background-color: #b57a1b;
}

#button-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 50px;
}

textarea{
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 13px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical; /* Allow vertical resize */
}

.popup-hidden {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index: 1000;
}

.popup-visible {
    display: block;
}

#closePopup {
    margin-top: 10px;
}